body{
	
	color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
}

#personal{
	width: 20%;
	height: 20%;
}

section{
	text-align: justify;
}

.agranda{
	font-size: 150%;
}


#irpersona12,#irpersona3,#irpersona4,#irpersona5{
	font-family: 'Archivo Black', sans-serif;
}

body {
  /*font-family: 'Coming Soon', cursive;*/
  	transition: background 1s ease;
	background-image: url("../img/personawp.png");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
  transition: background .2s ease;
}


.fondodefault{
	background-image: url("../img/personawp.png");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    transition: background 1s linear;


}

.fondop12{
	background-image: url("../img/p12.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondop3{
	background-image: url("../img/p3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondop4{
	background-image: url("../img/p4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondop5{
	background-image: url("../img/p5.png");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}


